<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" price="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" price="ie=edge">
    <amount>Edit Article - KenshinVerse</amount>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>
                <div class="card">
                    <div class="card-body">
                        <h1>Edit Top Up</h1>
                        <form action="/top_up/update/<%= id %>" method="POST">
                            <div class="form-group">
                                <label for="amount">Diamond Amount</label>
                                <input type="text" id="amount" class="form-control" name="amount" value="<%= amount %>" placeholder="Enter amount">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <textarea id="price" class="form-control" name="price" rows="4" placeholder="Enter price"><%= price %></textarea>
                            </div>
                            <button type="submit" class="button">Update</button>
                            <button type="reset" class="button">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>